.hidden {
    display: none;
}

.logo-img {
    width: 70px;
}

.brand-logo-text {
    font-size: 24px;
    font-weight: 700;
}

.loading-spinner {
    margin-right: 16px;
    display: none;
}

.hero {
    background: url("../../assets/img/beer-hero.png");
    background-size: 100%;
    background-clip: padding-box;
}

.jumbotron {
    backdrop-filter: blur(20px);
}

.hero-title {
    text-shadow: black 3px 3px 5px;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

@media screen and (max-width: 1400px) {
    .item-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.img-card {
    /* width: 50px; */
    max-height: 200px;
    width: auto;
}

#main-content {
    display: none;
}

.detail-img {
    height: 600px;
}

.detail-content {
    display: none;
}